<div id="part4">
  <div id="work">
    <div class="arrow"><%= image_tag("arrow_top.png", style: "width: 30px") %></div>
    <div id="gallery">
      <div class="item">
        <div>
          <a href="images/gallery/big/big.jpg">
            <%= image_tag("small.jpg") %>
          </a>
        </div>
      </div>
      <div class="item">
        <div>
          <a href="images/gallery/big/big.jpg">
            <%= image_tag("small.jpg") %>
          </a>
        </div>
      </div>
      <div class="item">
        <div>
          <a href="images/gallery/big/big.jpg">
            <%= image_tag("small.jpg") %>
          </a>
        </div>
      </div>
      <div class="item">
        <div>
          <a href="images/gallery/big/big.jpg">
            <%= image_tag("small.jpg") %>
          </a>
        </div>
      </div>
      <div class="item">
        <div>
          <a href="images/gallery/big/big.jpg">
            <%= image_tag("small.jpg") %>
          </a>
        </div>
      </div>
      <div class="item">
        <div>
          <a href="images/gallery/big/big.jpg">
            <%= image_tag("small.jpg") %>
          </a>
        </div>
      </div>
      <div class="item">
        <div>
          <a href="images/gallery/big/big.jpg">
            <%= image_tag("small.jpg") %>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>