<%= form_for @resume, html: { multipart: true } do |f| %>
    <table>
      <tbody>
      <tr>
        <td colspan="2">
          <%= f.text_field :name, placeholder: "NAME (required)", class: "name"  %>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <%= f.text_field :email, placeholder: "EMAIL (required)", class: "email"  %>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <%= f.text_field :massage, placeholder: "MASSAGE (required)", class: "massage" %>
        </td>
      </tr>
      <tr>
        <td><div class="inputWrapper" style="height: 65px; width: 170px; margin-top: -3px;"><%= f.file_field :attachment, class: "fileInput hidden" %></div></td>
        <td><%= f.submit "Comment", type: :image, src: "/images/send.png", style: "width: 170px" %></td>
      </tr>
      </tbody></table>
<% end %>
