<div id="part6">
  <div id="contact">
    <div class="arrow"><%= image_tag("arrow_green.png", style: "width: 30px; display: none;") %></div>
    <div id="contact_panel">
      <br/>
      <br/>
      <% if signed_in? %>
      <%= link_to "New Resume", new_resume_path, class: "btn btn-primary" %>
      <br/>
      <br/>
      <table class="table table-bordered table-striped">
        <thead>
        <tr>
          <th>Name</th>
          <th>Name</th>
          <th>Download Link</th>
          <th>Created at</th>
          <th>&nbsp;</th>
          <th>Massage</th>
          <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody style>
        <% @resumes.each do |resume| %>
            <tr>
              <td><%= resume.name %></td>
              <%if resume.attachment? %>
              <td><%= link_to "Download Resume", resume.attachment_url %></td>
              <td><%= button_to "Delete", resume, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{resume.name}?" %></td>
              <% else %>
                  <td>No Resume</td>
                  <td>No Resume</td>
              <% end %>
                  <td><%= resume.created_at %></td>
              <th>&nbsp;</th>
              <td><%= resume.massage %></td>
            </tr>
        <% end %>
        <%= will_paginate @resumes %>
        </tbody>
      </table>
      <% else %>
          <div id="left_pan">
            <h3>CONTACT</h3>
            <%= render 'form', :inquiry => @inquiry %>
            <br>
          </div>
          <div id="right_pan">
            <h3>CONTACT</h3>
            <ul>
              <li><a href="tel:+111111111111">+111111111111</a> </li>
              <li><a href="mailto:index_twok@twok.com">index_twok@twok.com</a> </li>
            </ul>
          </div>
      <% end %>

    </div>
  </div>
</div>

