<div id="footer">
  <div class="left_size">
    <p>TWOK LLC © 2014</p>

  </div>
  <div class="right_size">
    <ul>

      <li><a href="#"><img src="/images/social/facebook-norm.png" onmouseover="this .src='/images/social/facebook-sel.png'; this .width=40; this .height=40" onmouseout="this .src='/images/social/facebook-norm.png'; this .width=40; this .height=40" height="40" width="40"></a> </li>
      <li><a href="#"><img src="/images/social/linkedin-norm.png" onmouseover="this .src='/images/social/linkedin-sel.png'; this .width=40; this .height=40" onmouseout="this .src='/images/social/linkedin-norm.png'; this .width=40; this .height=40" height="40" width="40"></a> </li>
      <li><a href="#"><img src="/images/social/twitter-norm.png" onmouseover="this .src='/images/social/twitter-sel.png'; this .width=40; this .height=40" onmouseout="this .src='/images/social/twitter-norm.png'; this .width=40; this .height=40" height="40" width="40"></a> </li>
      <li><a href="#"><img src="/images/social/beh-norm.png" onmouseover="this .src='/images/social/beh-sel.png'; this .width=40; this .height=40" onmouseout="this .src='/images/social/beh-norm.png'; this .width=40; this .height=40" height="40" width="40"></a> </li>
    </ul>
  </div>
</div>

<% if signed_in? %>
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "sample app", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home", root_path %></li>

              <li><%= link_to "Users", users_path %></li>
              <li id="fat-menu" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Account <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Comments", comments_path %></li>
                  <li><%= link_to "Profile", current_user %></li>
                  <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                  <li class="divider"></li>
                  <li>
                    <%= link_to "Sign out", signout_path, method: "delete" %>
                  </li>
                </ul>
              </li>
          <% else %>
              <li><%= link_to "Sign in", signin_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>

